.route_index {
  display: flex;
  padding: 2em;
  padding-top: 1.5em;
}

.intro {
  display: grid;

  > p {
    font-weight: 500;
  }
}

.heading {
  font-weight: bold;
  font-size: 1.2rem;
}

.contact {
  margin-top: 10px;
  display: grid;
  gap: 15px;
}
